<!-- model_newsletter	-->
<!-- The e-mail is placed in a table to make sure the background color is not removed if the body is removed due to specific mail clients -->
<table style="vertical-align: top;" width="100%" cellpadding="0" cellspacing="0">
	<!-- Optionnal Banner to add -->
	<!--
	<tr>
		<td width="100%" colspan="2">
			<img src="" width="100%" border="0" alt="" title="" >
		</td>
	</tr>
	-->
	<tr>
		<td>${content_1!}</td>
		<td>${content_2!}</td>
	</tr>
</table>
<!-- end model_newsletter-->
